@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--secondary);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary);
}

:root {
    --text: #080a0c;
    --background: #ffffff;
    --bg-secondary: #6f7e94;
    --primary: #1dbf73;
    --secondary: #d3d6d9;
    --accent: #5d7083;
    --tertiary: #166534;
    --transparent: #0000004b;

    --dark-text: #f3f5f7;
    --dark-background: #000000;
    --dark-bg-secondary: #4b5563;
    --dark-primary: #40e297;
    --dark-secondary: #26292c;
    --dark-accent: #7c8fa2;
    --dark-tertiary: #166534;
    --dark-transparent: #00000077;
}

/* .btn-darkshadow:hover {
    -webkit-box-shadow: 0px 0px 15px 0px #000000;
    box-shadow: 0px 0px 15px 0px #000000;
}
.btn-lightshadow:hover {
    -webkit-box-shadow: 0px 0px 15px 0px #ffffff;
    box-shadow: 0px 0px 15px 0px #ffffff;
} */

.btn-primary {
    -webkit-box-shadow: 5px 5px 15px 0px #5d7083;
    box-shadow: 5px 5px 15px 0px #5d7083;
}
/* .btn-primary:hover {
    -webkit-box-shadow: 0px 0px 15px 0px #40e297;
    box-shadow: 0px 0px 15px 0px #40e297;
} */

.btn-secondary {
    -webkit-box-shadow: 5px 5px 15px 0px #5d7083;
    box-shadow: 5px 5px 15px 0px #5d7083;
}
/* .btn-secondary:hover {
    -webkit-box-shadow: 0px 0px 15px 0px var(--primary);
    box-shadow: 0px 0px 15px 0px var(--primary);
} */

.btn-accent {
    -webkit-box-shadow: 5px 5px 15px 0px #5d7083;
    box-shadow: 5px 5px 15px 0px #5d7083;
}
/* .btn-accent:hover {
    -webkit-box-shadow: 0px 0px 15px 0px #7c8fa2;
    box-shadow: 0px 0px 15px 0px #7c8fa2;
} */

.custom-shadow {
    box-shadow: 5px 5px 15px 0px var(--text);
}

.bg-shapeline {
    background-image: url("/resources/images/subtle-prism.svg");
    background-position: center;
}

@layer components {
    /* BUTTON */
    .btn {
        @apply py-2 px-6 rounded-xl;
    }

    .btn-primary {
        @apply bg-[--primary] dark:bg-[--dark-primary] py-2 px-6 rounded-xl dark:text-[--dark-text] text-[--dark-text] transition-all;
    }
    .btn:hover,
    .btn-primary:hover,
    .btn-secondary:hover,
    .btn-accent:hover {
        @apply scale-110;
    }

    .btn-secondary {
        @apply bg-[--tertiary] dark:bg-[--dark-tertiary] py-2 px-6 rounded-xl dark:text-[--dark-text] text-[--dark-text] transition-all;
    }

    .btn-accent {
        @apply bg-[--accent] dark:bg-[--dark-accent] py-2 px-6 rounded-xl dark:text-[--dark-text] text-[--dark-text] transition-all;
    }

    /* FORM */
    .form-input {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }

    .form-label {
        @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
    }

    .form-container {
        @apply dark:bg-slate-800 bg-slate-200 p-10 rounded-xl;
    }

    .form-row {
        @apply relative z-0 w-full mb-6;
    }

    .form-primary {
        @apply dark:bg-[--dark-secondary] bg-[--secondary] m-5 p-5 rounded-2xl;
    }

    /* CHECKBOX */
    .checkbox {
        @apply w-4 h-4 text-[--tertiary] bg-gray-100 border-gray-300 rounded focus:ring-[--tertiary] dark:focus:ring-[--tertiary] dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
    }
    .checkbox-label {
        @apply ml-2 text-sm font-medium text-gray-900 dark:text-gray-300;
    }

    /* SELECT */
    .select-label {
        @apply block mb-2 text-sm font-medium text-[--text] dark:text-[--dark-text];
    }
    .select {
        @apply bg-gray-50 border border-gray-300 text-[--text] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-[--accent] dark:border-gray-600 dark:placeholder-gray-400 dark:text-[--dark-text] dark:focus:ring-slate-200 dark:focus:border-slate-200;
    }

    /* CARD */
    .card-body {
        @apply block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
    }
    .card-title {
        @apply mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white;
    }
    .card-desc {
        @apply font-normal text-gray-700 dark:text-gray-400;
    }
    .card-img-body {
        @apply bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700;
    }

    .alert{
        @apply border-2 rounded-xl p-2 my-2
    }

    .alert-error{
        @apply bg-red-300 border-red-500 
    }

    .alert-success{
        @apply bg-green-300 border-green-500 
    }

}
